<!DOCTYPE html>
<html>
<head>
    <title>Event Booking</title>
    <link rel="stylesheet" href="booking_style.css">
</head>
<body>

<h1>Book Your Event</h1>

<form>
    <label>Name:</label><br>
    <input type="text"><br><br>

    <label>Email:</label><br>
    <input type="email"><br><br>

    <label>Number of Tickets:</label><br>
    <input type="number"><br><br>

    <button type="submit">Proceed to Payment</button>
</form>

</body>
</html>
